{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "jsxSingleQuote": false,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore"
  }
  